from finders import *

# Example configuration file for the whole system.
# You will likely need one of these per recording,
# or at the very least per channel.

# I'm trying to remove this file and parameterize
# everything in preparation for clustering.

# Removed values are either no longer needed or
# passed into Vbi() as optional keyword arguments.

# Which magazines are present in the broadcast?
# eg 100, 200 etc. Magazine 800 is 0.
magazines = [1,2,3,4,5,6]

